@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

@font-face {
  font-family: 'SB_M';
  src: url('/fonts/SB-어그로-M.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SB_L';
  src: url('/fonts/SB-어그로-L.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  word-break: keep-all;
  outline: 0px solid silver;
  font-family: 'Noto Sans KR', sans-serif;
}

html {
  overflow-x: hidden;
}

body {
  color: black;
  overflow-x: hidden;
}

p,
li {
  transition: 0.5s;
  font-size: 0.9rem;
}

a {
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
  text-transform: uppercase;
  color: black;
}

table {
  border-collapse: collapse;
  border: none;
}

textarea {
  resize: none;
}

input {
  border: 0px;
  background-color: transparent;
}

img {
  display: block;
  margin: auto 0;
}

button {
  border: 0px solid;
  background: transparent;
  transition: 0.3s;
}

.display-flex {
  display: flex;
  justify-content: space-between;
}

.display-left {
  display: flex;
  gap: 10px;
}

.display-flex-flow {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.pc,
.pc-flex {
  display: none;
}

.black-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: black;
  opacity: 0.5;
}

article>div:first-of-type {
  padding: 80px 5%;
}

/* header */

header {
  position: relative;
  background-color: white;
  border-top: 8px solid #4FAE30;
}

header>div {
  position: relative;
  padding: 15px 8%;
}

header>div>:last-child>:first-child>a>img {
  width: 70px;
  height: auto;
}

header>div>:last-child>:nth-child(4) {
  margin: auto 0;
  cursor: pointer;
}

/* nav */

nav {
  position: absolute;
  top: 0;
  right: -100%;
  background-color: white;
  width: 100%;
  height: 100vh;
  padding: 30px 8%;
  transition: 0.3s;
}

nav>:first-child {
  margin-bottom: 20px;
}

nav>:first-child>div {
  margin: auto 0;
  cursor: pointer;
}

nav>:first-child img {
  width: 20px;
  height: auto;
}

nav>ul>li {
  padding: 8px 0;
  cursor: pointer;
}

nav>ul>li>div {
  padding-bottom: 10px;
  border-bottom: 1px solid #555;
}

nav>ul>li>div>div {
  margin: auto 0;
}

nav>ul>li>div>p {
  font-weight: bold;
  font-size: 1rem;
}

nav>ul>li>div>div img {
  width: 15px;
  height: auto;
}

nav>ul>li>ul li {
  padding: 15px 0;
  border-bottom: 1px solid #ccc;
}

nav>ul>li>ul li a {
  color: #555;
}

nav>ul>li>ul li a:hover {
  color: black;
  font-weight: bold;
}

.nav-open {
  right: 0;
  z-index: 50;
}

.nav-close {
  right: -100%;
  overflow-x: hidden;
  z-index: 20;
}

.submenu {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-6px);
  transition: 0.8s
}

.submenu.sub-open {
  max-height: 500px;
  opacity: 1;
  transform: translateY(0);
}

.special {
  background-image: url('/images/special_bg_mo.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  text-align: center;
}

.special>div {
  padding: 70px 8%;
}

.title {
  margin-bottom: 40px;
  text-align: center;
}

.title p {
  margin-top: 20px;
  color: #555;
}

.title h2::before {
  content: '';
  width: 30px;
  height: 3px;
  display: block;
  background-color: black;
  margin: 0 auto 10px;
}

.special>div>:last-child section {
  width: 48%;
  margin: 10px 0;
}

.special>div>:last-child section img {
  margin: auto;
  padding: 10px;
}

.special>div>:last-child section p {
  margin-top: 10px;
}

/* footer */

footer {
  background-color: #555;
  color: #ccc;
}

footer>:first-child {
  padding: 50px 8% 30px;
}

footer>:first-child>div>img {
  width: 95px;
  height: auto;
}

footer>:first-child>div>ul {
  margin: 30px 0 50px;
  justify-content: left;
  gap: 10px;
}

footer>:first-child>div>ul li {
  width: auto;
  margin: 8px 0;
  font-size: 0.9rem;
}

footer>:first-child>div>ul li:first-of-type {
  position: relative;
  padding-right: 10px;
}

footer>:first-child>div>ul li:first-of-type:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -40%);
  width: 1px;
  height: 10px;
  background-color: #ccc;
}

footer>:first-child>div>ul li:first-of-type {
  padding-right: 15px;
  border-right: #ccc;
}

footer>:last-child {
  background-color: #5E5E5E;
  width: 100%;
  height: 50px;
}

@media screen and (min-width: 768px) {

  p,
  li {
    font-size: 1.1rem;
  }

  .title {
    margin: 0 auto 50px;
    width: 70%;
  }

  .title p {
    margin-top: 30px;
  }

  .title h2::before {
    width: 40px;
    height: 4px;
    margin: 0 auto 20px;
  }

  /* header */

  header>div>:last-child>:first-child>a>img {
    width: 100px;
    height: auto;
  }

  /* nav */

  nav>:first-child {
    font-size: 1.3rem;
  }

  nav>ul>li {
    padding: 15px 0;
  }

  nav>ul>li>div {
    padding-bottom: 15px;
  }

  nav>ul>li>div>p {
    font-size: 1.2rem;
  }

  nav>ul>li>ul li {
    padding: 20px 0;
  }

  nav>ul>li>ul li a {
    font-size: 1rem;
  }

  .special>div>:last-child {
    justify-content: center;
  }

  .special>div>:last-child section {
    width: 35%;
    margin: 20px 0;
  }

  .special>div>:last-child section img {
    width: 120px;
    height: auto;
    margin: auto;
    padding: 5px;
  }

  .special>div>:last-child section p {
    margin: 15px auto 0;
    width: 55%;
    font-size: 1rem;
  }

  /* footer */

  footer>:first-child>div>img {
    width: 120px;
  }

  footer>:first-child>div>ul li {
    font-size: 0.9rem;
  }

  footer>:last-child {
    height: 70px;
  }

}

@media screen and (min-width: 1366px) {

  .pc-flex {
    display: flex;
  }

  .pc {
    display: block;
  }

  .mo {
    display: none;
  }

  li,
  p {
    font-size: 1.2rem;
  }

  .display-left {
    gap: 20px;
  }

  article>div:first-of-type {
    padding: 150px 0px;
    width: 1400px;
    margin: 0 auto;
  }

  /* header */

  header>div {
    width: 1400px;
    margin: 0 auto;
    padding: 20px 0;
  }

  header>div>:first-child {
    display: flex;
    justify-content: right;
  }

  header>div>:first-child ul {
    gap: 15px;
  }

  header>div>:first-child ul li,
  header>div>:first-child ul li a {
    font-size: 0.9rem;
    cursor: pointer;
  }

  header>div>:last-child>ul {
    margin: auto 0;
    gap: 100px;
  }

  header>div>:last-child>ul>li {
    position: relative;
  }

  header>div>:last-child>ul>li>p {
    font-weight: bold;
    font-size: 1.2rem;
  }

  header>div>:last-child>ul>li>ul {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 20;
    background-color: white;
    width: 200px;
    text-align: center;
  }

  header>div>:last-child>ul>li>ul>li {
    padding: 10px;
    border: 1px solid #ccc;
  }

  header>div>:last-child>ul>li>ul>li a {
    font-size: 1rem;
  }

  header>div>:last-child>ul>li>ul>li a:hover {
    color: #4FAE30;
    font-weight: bold;
  }

  .nav-hover {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .nav-hover-out {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  /* nav */

  nav {
    border-radius: 30px;
    width: 1200px;
    height: auto;
    padding: 50px;
    display: none;
  }

  nav>ul {
    display: flex;
    justify-content: space-between;
  }

  nav>ul>li {
    width: 28%;
  }

  .nav-open {
    display: block;
    top: 0%;
    right: 50%;
    transform: translate(50%, 10%);
  }

  .nav-close {
    display: none
  }

  .submenu {
    max-height: 100%;
    overflow: unset;
    height: 100%;
    opacity: 1;
    transform: translateY(0px);
  }

  .submenu li {
    padding: 10px 0;
  }

  .special {
    background-image: url('/images/special_bg_pc.png');
  }

  .special>div>:last-child section {
    width: 320px;
  }

  .special>div>:last-child section img {
    padding: 0px;
  }

  .special>div>:last-child section p {
    margin-top: 30px;
    font-size: 1.1rem;
  }

  .title h2 {
    font-size: 1.8rem;
    width: 50%;
    margin: auto;
  }

  .title p {
    width: 70%;
    margin: 20px auto 0;
  }

  /* footer */

  footer>:first-child {
    padding: 80px 0 40px;
    width: 1400px;
    margin: 0 auto;
    display: flex;
  }

  footer>:first-child>div>img {
    width: 110px;
  }

  footer>:first-child>div:first-of-type {
    margin: auto;
  }

  footer>:first-child>div:last-of-type {
    margin: auto 50px 0;
  }

  footer>:first-child>div>ul {
    width: 70%;
    margin: 0 0 40px;
  }

  footer>:first-child>div>ul li {
    position: relative;
    padding-right: 10px;
    margin: 0;
  }

  footer>:first-child>div>ul li:not(footer>:first-child>div>ul li:nth-of-type(4), footer>:first-child>div>ul li:last-of-type)::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -40%);
    width: 1px;
    height: 10px;
    background-color: #ccc;
  }

  footer>:first-child>div>p {
    width: 100%;
    font-size: 1rem;
  }

  footer>:last-child {
    height: 60px;
  }

}